.vs/r.e.p.o cheat/FileContentIndex/aa3d8cdb-d35e-46f3-9288-15df07f2c35a.vsidx
.vs/r.e.p.o cheat/FileContentIndex/4180b721-d1b3-432c-84c7-0074eaaff7d6.vsidx
.vs/r.e.p.o cheat/CopilotIndices/17.13.430.18484/SemanticSymbols.db-wal
.vs/r.e.p.o cheat/CopilotIndices/17.13.430.18484/SemanticSymbols.db-shm
.vs/r.e.p.o cheat/CopilotIndices/17.13.430.18484/SemanticSymbols.db
.vs/r.e.p.o cheat/CopilotIndices/17.13.430.18484/CodeChunks.db-wal
.vs/r.e.p.o cheat/CopilotIndices/17.13.430.18484/CodeChunks.db-shm
.vs/r.e.p.o cheat/CopilotIndices/17.13.430.18484/CodeChunks.db
